{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>Materiel_detail</title>{% endblock title %}{% block content %}
<div class="container">
    <br />
    <br />

    <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
            <div class="x_title">
                <h2>liste des Materiels</h2>
                <div class="add-product">
                    <a href="{% url 'parc:materiel' %}">Ajouter Materiel</a>
                </div>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <h2> </h2>
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <input type="checkbox" id="check-all" class="flat">
                                </th>
                                <th class="column-title">#</th>
                                <th class="column-title">Nom Materiel </th>
                                <th class="column-title">Numero Serie_Materiel</th>
                                <th class="column-title">Caracteristique</th>
                                <th class="column-title">Bureau</th>
                                <th class="column-title">Types du materiel</th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        {% for materiels in materiel %}

                        <tbody>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>
                                <td class=" "></td>
                                <td class=" ">{{materiels.name}}</td>
                                <td class=" ">{{materiels.numero_serie}}</td>
                                <td class=" ">{{materiels.caracteristique}}</td>
                                <td class=" ">{{materiels.bureau}}</td>
                                <td class=" ">{{materiels.type_materiel}}</td>
                                <td class=" last">

                                    <ul>
                                        <a href="{% url 'parc:onemateriel' materiels.id %}">Update|</a>
                                        <a href="{% url 'parc:onematerieldel' materiels.id %}">Delete</a>
                                    </ul>
                                </td>
                            </tr>



                        </tbody>
                        {% endfor %}
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>
{% endblock content %}