{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>Accueil</title>{% endblock title %}{% block content %}
<div class="container">

    <br />
    <br />
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Notre page d'Accueil
        <small>Pour toujours et a jamais</small>
    </h1>
    <br />
    <br />

    <div class="clearfix"></div>

    <div class="row" style="background-color:red; color:blue">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content-details shadow-reset">
                <h1> Logiciel de gestion de Parc Informatique</h1>
                <h4>idéal pour les PME/PMI mais également ...</h4>
                <p> pour les entreprises plus importantes, C'est une Plateforme de gestion de parc informatique.</p>
                <p> permet la gestion de l’ensemble des composants matériels et logiciels, l’affectation aux utilisateurs ainsi que la gestion de la maintenance.</p>
                <p> La meilleure solution rapport qualité/prix du marché. </p>
                <p> La meilleure solution rapport qualité/prix du marché. </p>
                <p> La Plateforme est multi-sociétés ou multi-sites et intègre une gestion des droits des utilisateurs. </p>
                <p> Il n’y a pas de restriction en ce qui concerne le nombre des enregistrements. </p>
                <p> La Plateforme est adaptable pour la gestion de matériels autre que le matériel informatique, du fait d’une gestion souple des produits, paramétrable par l’utilisateur. </p>
            </div>
        </div>
    </div>
    <br />
    <br />

    <h4>La Plateforme de gestion du Parc Informatique -----------------------------------------------------------------------------</h4>
    <br />
    <br />


    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'images/photo.jpg' %}" alt="">
                <br />
                <div class="card-body">
                    <br />
                    <h4 class="card-title">Le logiciel qu’il vous faut !</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">Idéal pour gérer efficacement et simplement votre Parc Informatique, il vous assistera dans la bonne gestion et le suivi de votre Parc Informatique. La securite, de meme que la gestion des incidents en interne.</p>
                </div>
                <div class="card-footer" style="background-color:red;  ">
                    <a href="#">Savoir Plus</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'images/photoa.jpg' %}" alt="">
                <br />
                <div class="card-body">
                    <br />
                    <h4 class="card-title">Fiable & Efficace</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">La PCGPLI est un produit fiable et efficace, sans prise de tête, permettant une mis en place rapide, idéal pour les responsables d’exploitation, qui ont besoin d’informations fiables pour la bonne gestion du Parc Informatique.</p>
                </div>
                <div class="card-footer text-muted" style="background-color:red;  ">
                    <a href="#">Savoir Plus</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="{% static 'images/photob.jpg' %}" alt="">
                <br />
                <div class="card-body">
                    <br />
                    <h4 class="card-title">Les Fonctionnalités</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                    <p class="card-text">Les fonctionnalités permettant de gérer de façon optimale la gestion de votre Parc Informatique.S'assurer du bon fonctionnement des materiels et de meme que de connaitre et de pouvoir enregistrer les nouveaux materiels.</p>
                </div>
                <div class="card-footer" style="background-color:red;  ">
                    <a href="#">Savoir Plus</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <hr size="1" color="blue">
    <br />
    <h2>Fonctions Principales de PCGPLI</h2>
    <h5>Une solution simple & efficace</h5>

    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="{% static 'images/photoc.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
            <h2 style="background-color:red;  color:aliceblue">A la nouvelle outil de Gestion</h2>
            <p>La Plateforme de gestion de parc informatique est proposé en version Monoposte, Réseau ou Client/serveur, intègre une gestion des droits des utilisateurs.et il n’y a pas de restriction en ce qui concerne le nombre des enregistrements. CAR
                permet une gestion multi-sociétés ou multi-sites et offre les principales fonctionnalités suivantes :</p>
            <p> √ Affectation des Postes de travail aux utilisateurs</p>
            <p> √ Suivi des interventions matériel en interne ou externe</p>
            <p> √ De nombreux états, pour une vision précise de votre parc informatique</p>
            <p> √ Suivi des incidents utilisateurs</p>
            <p> √ Suivi des réparations et des retours en garantie</p>

        </div>
    </div>
    <br />
    <hr size="1" color="blue">
    <h2>Le PCGPLI pour le Développement</h2>


    <h4>Solutions informatiques pour les entreprises</h4>


</div>
<br />
<br /> {% endblock content %}