{% extends "base.html" %}{% load staticfiles %} {% block title %}
<title>Forum</title>{% endblock title %}{% block content %}
<div class="container">
    <h1>Y@@@@raaah</h1>

    <script src="{% static 'js/https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %}"></script>
    <script src="{% static 'js/http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %}"></script>

    <div id="chat-body" class="panel panel-default">
        <div id="panel-heading" class="panel-heading">
            <h4>General Chat</h4>
        </div>
        <div id="msg-list-div" class="panel-body">
            <ul id="msg-list" class="list-group">

                {% for obj in chat %} {%if obj.user == request.user %}
                <li class="text-right list-group-item">
                    <font color="#3498DB">{{ obj.user }}</font><br>
                    <font color="#000000"></font>{{ obj.message }}
                    <br>
                    <font size="1">{{ obj.created }}</font>
                </li>
                <br> {% else %}
                <li class="text-left list-group-item">
                    <font color="#1ABC9C">{{ obj.user }}</font><br>
                    <font color="#000000"></font>{{ obj.message }}
                    <br>
                    <font size="1">{{ obj.created }}</font>
                </li>
                </li>
                <br> {%endif%} {% empty %}
                <li class="text-right list-group-item">No messages yet.</li>
                {% endfor %}
                <h4>Files</h4>
                {% for obj in documents %} {%if obj.userUpload == request.user %}
                <li class="text-right list-group-item">
                    <font color="#3498DB">{{ obj.userUpload }}</font><br>
                    <a href="{{ obj.document.url }}">
                        <font color="#000000">{{ obj.document.name }}</a>
                    </font>
                    <br><small>{{ obj.created }}</small></li><br> {% else %}
                <li class="text-left list-group-item">
                    <font color="#1ABC9C">{{ obj.userUpload }}</font><br>
                    <a href="{{ obj.document.url }}">
                        <font color="#000000">{{ obj.document.name }}</a>
                    </font>
                    <br><small>{{ obj.created }}</small></li><br> {% endif %} {% endfor %}


                <script>
                    var chatlist = document.getElementById('msg-list-div');
                    //chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </ul>
            <div><a class="btn btn-warning" value="Upload File" href="{% url 'blog:uploads' %}">Upload File</a></div>


        </div>
    </div>
    <div id="form-input" style="height: 100px;">


        <form id="chat-form" method="POST" action="{%url 'blog:post' %}">
            {% csrf_token %}
            <div id="chat-bottom" class="input-group">
                <input type="text" id="chat-msg" name="chat-msg" class="form-control" />
                <span class="input-group-btn">
                    <input class="btn btn-left" id="send" type="submit" value="Send"/>
                </span>
            </div>

        </form>

    </div>

    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

</div>
{% endblock content %}